/* vim: set ft=javascript ts=2 et sw=2 tw=80: */
var config = {
  slack_api_token: 'xxxx-xxxxxxxxx-xxx',

  // The URL of your Piazza class.
  piazza_base_url: 'https://piazza.com/class/xxxxxxxxxx',

  // Whether or not to use the Slack Real-Time Messaging API instead of the Events API.
  use_rtm: true,

  // If using the Events API, then configure the following:
  events: {
    port: 8888,
    signing_secret: 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
  },

  /*** No need to modify anything below this ***/

  regexes: [],

  schedules: [],

  build: function (id) {
    this.regexes.push({ regex: /@(\d+)/g, message: this.piazza_base_url + '?cid=[1]' });
  }
};
module.exports = config;
